{% if matches|length > 1 %}

    <div class="row">

        {% for row in matches|batch(3, {'id': '', 'name': ''}) %}

                <div class="col-md-4"><div class="panel matches">

                    {% for match in row %}
                        {% include '@App/Widget/_matchdayWidgetMatch.html.twig' with {'match' : match} %}
                    {% endfor %}

                </div></div>

        {% endfor %}

        <div class="col-lg-4">

        </div>

        <div class="col-lg-4">

        </div>

    </div>
{% endif %}