{#
  Theme override for a header trail.

  Available variables:
  {
    'name' : '',
  }
#}
{% set name = name|default('') %}
<div class="row wrapper border-bottom white-bg page-heading">

    <div class="col-md-2">
        <h2>{{ name }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('soc_dashboard_index') }}">Home</a>
            </li>
            <li class="active">
                <strong>{{ name }}</strong>
            </li>
        </ol>
    </div>

    <div class="col-md-10">
        {{ render(controller(
            'AppBundle:MatchdayWidget:render'
        )) }}
    </div>

</div>