<table class="result">
    <tr>
        <td class="col-header"><h3 class="username">Ergebnis</h3></td>
        <td class="col-header">Name</td> {# Elf des Tages #}
        <td class="col-header">Punkte</td>  {# Note #}
    </tr>
    {% for lineup in lineups %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ ' ' }}</td>
        <td>{{ ' ' }}</td>
    </tr>
    {% endfor %}
</table>
