{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <div id="wrapper">

    {% include 'AppBundle:Default:navigation-main.html.twig' %}

        <div id="page-wrapper" class="gray-bg">

            {% include 'AppBundle:Default:navigation-minor.html.twig' %}

            {% block content_header %}
                {% include '@App/_header.html.twig' %}
            {% endblock %}

            {% block content_main %}
            {% endblock %}

            {% block content_footer %}
                {% include '@App/_footer.html.twig' %}
            {% endblock %}

        </div>

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}