{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <style>

        body {
            background-color: #ffffff;
        }

        #wrapper {
            margin: 0 20px;
        }

        .player {
            padding: 0;
        }

        .player .item .username {
            margin-left: 50%;
        }

        .player .item {
            width: 33%;
            float: left;
            padding: 0 50px 0 0;
        }

        .player .result {
            margin-top: 11%;
        }

        .table-header-rotated th.row-header{
            width: auto;
        }

        .player .item th {
            vertical-align: bottom;
        }

        .player .item .player-name {
            width: 25%;
            text-align: left;
        }

        .table tr.col-header td {
            padding: 20px 0 0;
        }

    </style>

{% endblock %}

{% block body %}

    <div id="wrapper">

    {% block content_main %}

            <h2>{{ matchday }}. Spieltag</h2>

            <div class="row">

                <div class="col-lg-12">

                    <ul class="unstyled player">

                        {% for username, lineup in lineups %}

                        <li class="item">
                            {% include 'AppBundle:Default/Lineup:lineup-print-table.html.twig' %}
                        </li>

                        {% endfor %}

                        {#<li class="item">#}
                            {#{% include 'AppBundle:Default/Lineup:lineup-print-result.html.twig' %}#}
                        {#</li>#}

                    </ul>


                </div>

            </div>

    {% endblock %}

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}