<div class="ibox pi pi-lineup pi-position-{{ index }}" data-ref="{{ id }}">
    <div class="ibox-content">

        <div class="player-imitation {{ team.lowerName }}">
            <img class="img-circle portrait" src="{{ thumbUrl}}">
        </div>
        <div class="player-desc">
            <small class="text-muted">{{ team.name}}</small>
            <a href="#" class="player-name">{{ name}}</a>
            <div class="small m-t-xs exchange">
                <a class="btn btn-xs btn-danger btn-outline"><i class="fa fa-exchange"></i></a>
            </div>
        </div>
    </div>
</div>