{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <style>

        body {
            background: transparent !important;
            color: #000 !important;
            width: 1485px;
            height: 1050px;
        }

        #wrapper {
            margin: 0 20px;
        }

        .users {
            padding: 0;
            overflow: hidden;
        }

        .user {
            width: 33%;
            float: left;
            padding: 0 50px 0 0;
        }

        .user .username {
            /*margin-left: 50%;*/
            text-align: left;
        }

        .user .username span {
            font-size: 16px;
        }

        .user thead {
            vertical-align: bottom;
        }

        .table tr.col-header td {
            width: 9%;
            padding: 20px 0 10px;
        }

        .user .player-name {
            width: 28%;
            text-align: left;
        }

        .user .table tbody td {
            border-right: 1px dashed #C0C0C0;
            background-size: 110%;
            background-repeat: no-repeat;
            background-position: center;
        }

        .user .table tbody td,
        .user .table thead td {
            height: 35px;
        }

        .user .table tbody td:first-child {
            padding: 0;
        }

        .user tbody td .num {
            display: block;
            background-color: white;
            opacity: 0.75;
            padding: 8px;
        }

        .table tr td {
            text-align: center;
        }

        .table-striped>tbody>tr:nth-of-type(odd) {
            background-color: #D9D9D9;
        }

        .user tbody td.augsburg {
            background-image: url(/bundles/app/img/augsburg.svg);
        }
        .user tbody td.bayern {
            background-image: url(/bundles/app/img/bayern.svg);
        }
        .user tbody td.bremen {
            background-image: url(/bundles/app/img/bremen.svg);
        }
        .user tbody td.darmstadt {
            background-image: url(/bundles/app/img/darmstadt.svg);
        }
        .user tbody td.dortmund {
            background-image: url(/bundles/app/img/dortmund.svg);
        }
        .user tbody td.frankfurt {
            background-image: url(/bundles/app/img/frankfurt.svg);
        }
        .user tbody td.gladbach {
            background-image: url(/bundles/app/img/gladbach.svg);
        }
        .user tbody td.hamburg {
            background-image: url(/bundles/app/img/hamburg.svg);
        }
        .user tbody td.hannover {
            background-image: url(/bundles/app/img/hannover.svg);
        }
        .user tbody td.hertha {
            background-image: url(/bundles/app/img/hertha.svg);
        }
        .user tbody td.hoffenheim {
            background-image: url(/bundles/app/img/hoffenheim.svg);
        }
        .user tbody td.ingolstadt {
            background-image: url(/bundles/app/img/ingolstadt.svg);
        }
        .user tbody td.köln {
            background-image: url(/bundles/app/img/köln.svg);
        }
        .user tbody td.leverkusen {
            background-image: url(/bundles/app/img/leverkusen.svg);
        }
        .user tbody td.mainz {
            background-image: url(/bundles/app/img/mainz.svg);
        }
        .user tbody td.schalke {
            background-image: url(/bundles/app/img/schalke.svg);
        }
        .user tbody td.stuttgart {
            background-image: url(/bundles/app/img/stuttgart.svg);
        }
        .user tbody td.wolfsburg {
            background-image: url(/bundles/app/img/wolfsburg.svg);
        }

    </style>

{% endblock %}

{% block body %}

    <div id="wrapper">

    {% block content_main %}

            <h2>{{ matchday }}. Spieltag</h2>

            <div class="row">

                <div class="col-lg-12">

                    <ul class="unstyled users">

                        {% for username, lineup in lineups %}

                        <li class="user">
                            {% include 'AppBundle:Default/Lineup:lineup-print-table.html.twig' %}
                        </li>

                        {% endfor %}

                        {#<li class="item">#}
                            {#{% include 'AppBundle:Default/Lineup:lineup-print-result.html.twig' %}#}
                        {#</li>#}

                    </ul>


                </div>

            </div>

    {% endblock %}

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}