{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
{{ title }}
{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <style>

    </style>

{% endblock %}

{% block body %}

    <div id="wrapper">

        {% include 'AppBundle:Default:navigation-main.html.twig' %}

        <div id="page-wrapper" class="gray-bg">

            {% include 'AppBundle:Default:navigation-minor.html.twig' %}

            {% block content_header %}

                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-10">
                        <h2>Dashboard</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="{{ path('soc_dashboard_index') }}">Home</a>
                            </li>
                            <li class="active">
                                <strong>Punkte</strong>
                            </li>
                        </ol>
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div>

            {% endblock %}

            {% block content_main %}

                <div class="row">

                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Punkte</h5>
                            </div>
                            <div class="ibox-content">

                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Spieltag</th>
                                        <th>Name</th>
                                        <th>Punkte</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Jens</td>
                                        <td>45</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            {% endblock %}

            {% block content_footer %}
                <div class="footer">
                    <div class="pull-right">
                        Yeah <strong>iii</strong>.
                    </div>
                    <div>
                        <strong>Copyright</strong> S.O.C. &copy; 2014-2015
                    </div>
                </div>
            {% endblock %}

        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>

        $(function() {

        });

    </script>

{% endblock %}