<stylesheet>

    <page color="#000000" font-size="9pt" margin="0mm" margin-top="1mm" />

    <h3 color="#676A6C" font-size="14pt" />

    <div class="item" float="left" width="90mm" margin-left="6mm" />

    <table>

        <tr class="bg-light" background-color="#C6C6C6">
            <td border-color="#ffffff" />
        </tr>
        <tr class="bg-dark" background-color="#666666" />
        <tr class="tb-footer" font-size="6pt" />

        <td class="player-name" width="25mm" />

        <td padding="2mm" border-color="#B0B0B0" />
        <td class="col-header" vertical-align="bottom" padding="1mm" border-color="#ffffff" />


    </table>
</stylesheet>